/* ----- FONTS ----- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ----- COLORS ----- */

/*https://coolors.co/423e37-e3b23c-edebd7-6e675f*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #423E37;
    background-color: #EDEBD7;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
}

/* ----- MODAL ----- */

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(237, 235, 215, 0.85);
    z-index: 1;
}

.modal-content {
    padding: 8px 12px;
    border-radius: 12px;
    background-color: rgba(110, 103, 95, 0.15);
}

/* ----- HEADER ----- */

header {
    display: none;
}

/* ----- MAIN ----- */

main {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 100%;
    padding: 8px;
    overflow-y: auto;
    scrollbar-width: none;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    height: fit-content;
    padding: 22px 0;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 750px;
    padding: 8px 12px;
    border-radius: 12px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: end;
    width: fit-content;
    margin-left: auto;
    background-color: #E3B23C;
}

.assistant {
    display: flex;
    justify-content: center;
    align-items: start;
    width: fit-content;
    margin-right: auto;
}

/* ----- FOOTER ----- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: fit-content;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 12px;
    background-color: rgba(110, 103, 95, 0.15);
}

#userInput {
    width: 100%;
    max-height: 200px;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-wrap: break-word;
}

/* ----- MARKDOWN ----- */

code {
    padding: 2px;
    border-radius: 4px;
    background-color: rgba(110, 103, 95, 0.15);
    font-size: 16px;
}

.code-lang {
    padding: 4px 16px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(110, 103, 95, 0.25);
    font-weight: 500;
}

pre {
    width: 650px;
    padding: 12px 16px;
    border-radius: 0 0 4px 4px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: rgba(110, 103, 95, 0.15);
    font-size: 16px;
}

a {
    color: #E3B23C;
}

a:hover {
    color: rgba(227, 178, 60, 0.75);
}

/* ----- RESPONSIVE ----- */

@media (max-width: 850px) {

    body {
        display: none;
    }

}